$heading-color:red;
body{
    padding: 0px;
    margin: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    max-width: 1080px;
}
img{
    height: 200px;
    width: 100%;
    object-fit: cover;
}
h1,h3{
    color:$heading-color;
}
#navbar{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    width: 70vw;
    #logo, #menu{
        img{
            height: 75px;
            width: 75px;
            object-fit: cover;
            padding:20px;
        }
    }
    #menu{
        justify-self: end;
    }
}
#main{
    place-items: center;
    display: grid;
    background-color: lightgrey;
    text-align: center;
}
#heading{
    align-self: end;
}
#all_creams{
    align-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    width: 70%;
    margin: 40px;
    box-sizing: border-box;
}
.one_cream{
    background-color: whitesmoke;
    padding: 40px;
    border-radius: 5px;
    img{
        height: 250px;
        width: 250px;
        border-radius: 50%;
    }
    button{
        background-color: white;
        padding: 10px;
        border: 1px solid $heading-color;
        border-radius: 5px;
        &:hover{
            color: whitesmoke;
            background-color: $heading-color;
        }
    }
}
footer{
    display: grid;
    background-color: grey;
    text-align: center;
    min-height: 25vh;
    align-items: center;
    color: whitesmoke;
}